<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root.mapper.PrivilegeMapper">
  <resultMap id="BaseResultMap" type="com.root.bean.Privilege">
    <id column="privilege_id" jdbcType="VARCHAR" property="privilegeId" />
    <result column="privilege_name" jdbcType="VARCHAR" property="privilegeName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    privilege_id, privilege_name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from privilege
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from privilege
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.root.bean.Privilege">
    insert into privilege (privilege_id, privilege_name, create_time
      )
    values (#{privilegeId,jdbcType=VARCHAR}, #{privilegeName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.root.bean.Privilege">
    insert into privilege
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        privilege_id,
      </if>
      <if test="privilegeName != null">
        privilege_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        #{privilegeId,jdbcType=VARCHAR},
      </if>
      <if test="privilegeName != null">
        #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.root.bean.Privilege">
    update privilege
    <set>
      <if test="privilegeName != null">
        privilege_name = #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.root.bean.Privilege">
    update privilege
    set privilege_name = #{privilegeName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.root.bean.Privilege">
    <id column="privilege_id" jdbcType="VARCHAR" property="privilegeId" />
    <result column="privilege_name" jdbcType="VARCHAR" property="privilegeName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    privilege_id, privilege_name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from privilege
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from privilege
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.root.bean.Privilege">
    insert into privilege (privilege_id, privilege_name, create_time
      )
    values (#{privilegeId,jdbcType=VARCHAR}, #{privilegeName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.root.bean.Privilege">
    insert into privilege
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        privilege_id,
      </if>
      <if test="privilegeName != null">
        privilege_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="privilegeId != null">
        #{privilegeId,jdbcType=VARCHAR},
      </if>
      <if test="privilegeName != null">
        #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.root.bean.Privilege">
    update privilege
    <set>
      <if test="privilegeName != null">
        privilege_name = #{privilegeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.root.bean.Privilege">
    update privilege
    set privilege_name = #{privilegeName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where privilege_id = #{privilegeId,jdbcType=VARCHAR}
  </update>
</mapper>